section, article {
    margin: 10px 10px 10px 10px;
}

.recuadro{
    width:  300px;
    height: 200px;
    background-color : red;
}

td{
    width:  30px;
    height: 20px;
    background-color : red;
}